<section class="section-padding" @fadeIn id="contact">
    <h2>Get In Touch</h2>
    <p>Feel free to contact me using the form below or connect on social media.</p>
  
    <form action="FORM_SUBMISSION_SERVICE_URL" method="POST">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject">
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" required></textarea>
      </div>
      <button type="submit">Send Message</button>
    </form>
  
    <div class="social-links">
      <p>Connect with me:</p>
      <a href="https://www.linkedin.com/in/abdalla-elkilany-003559207/" target="_blank">LinkedIn</a>
      <a href="https://www.github.com/kilany99" target="_blank">GitHub</a>
      </div>
  </section>