<footer>
    <div class="footer-content">
      <p>&copy; {{ currentYear }} Abdalla Elkilany. All rights reserved.</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/abdalla-elkilany-003559207" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://www.github.com/kilany99" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i> GitHub</a>

        <a href="https://wa.me/201022506371" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-whatsapp"></i> Whatapp</a>
        </div>
    </div>
  </footer>