<header>
  <div class="site-title">Abdalla Elkilany</div>

  <button class="menu-toggle" (click)="toggleNav()">
     <mat-icon *ngIf="!isNavOpen">menu</mat-icon> <mat-icon *ngIf="isNavOpen">close</mat-icon> </button>

  <nav [class.is-open]="isNavOpen">
    <ul>
      <li><a href="#home" (click)="closeNav()">Home</a></li> 
      <li><a href="#about" (click)="closeNav()">About</a></li> 
      <li><a href="#skills" (click)="closeNav()">Skills</a></li> 
      <li><a href="#projects" (click)="closeNav()">Projects</a></li> 
      <li><a href="#contact" (click)="closeNav()">Contact</a></li> 
    </ul>
  </nav>
</header>