<section class="section-padding" id="home"  appScrollAnimation appScrollAnimationDuration="1500ms" appScrollAnimationFromY="120px" appScrollAnimationToY="0px" appScrollAnimationTrigger="scroll">
  <!-- <video autoplay loop muted playsinline class="background-video">
    <source src="videos/2887463-hd_1920_1080_25fps.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->
  <h1>Hi, I'm Abdalla Elkilany</h1>
  <p>A Junior Full-Stack .NET & Angular Developer.</p>
  <p>Welcome to my portfolio where I showcase my work.</p>
  <a mat-raised-button color="primary" href="#projects">View My Projects</a>
</section>