<section class="section-padding" appScrollAnimation appScrollAnimationDuration="2000ms" appScrollAnimationFromY="120px" id="projects">
  <div class="section-header">
    <h2>My Projects</h2>
    <p>Here are some of the projects I've worked on. Each one represents a unique challenge and learning experience.</p>
  </div>

  <div class="projects-list-container" *ngIf="!selectedProject" [@listAnimation]="listState"> 
    <app-project-card
      *ngFor="let project of projects"
      [project]="project"
      (viewDetails)="viewProject($event)">
    </app-project-card>

    <p *ngIf="projects.length === 0">No projects to display yet.</p>
  </div>
  
  <div class="project-detail-container" *ngIf="selectedProject" [@detailAnimation]="selectedProject ? 'visible' : 'void'"> 
     <button mat-icon-button (click)="closeProject()" class="back-button">
        <mat-icon>arrow_back</mat-icon>
        Back to Projects
     </button>

     <h3>{{ selectedProject.name }}</h3>
     
     <div class="project-description">
       <p>{{ selectedProject.longDescription }}</p>
     </div>

     <div class="technologies">
        <h4>Technologies Used</h4>
         <ul>
           <li *ngFor="let tech of selectedProject.technologies">{{ tech }}</li>
         </ul>
      </div>

      <div class="project-actions">
          <a *ngIf="selectedProject.liveDemoUrl" class="project-link primary" [href]="selectedProject.liveDemoUrl" target="_blank">
            <i class="fas fa-external-link-alt"></i>
            Live Demo
          </a>
          <a *ngIf="selectedProject.githubUrl" class="project-link secondary" [href]="selectedProject.githubUrl" target="_blank">
            <i class="fab fa-github"></i>
            GitHub Repo
          </a>
       </div>

      <div *ngIf="selectedProject.screenshots && selectedProject.screenshots.length > 0" class="project-screenshots">          
          <h4>Screenshots</h4>
          <div class="screenshot-gallery">
              <img *ngFor="let screenshotUrl of selectedProject.screenshots" [src]="screenshotUrl" [alt]="selectedProject.name + ' Screenshot'">
          </div>
      </div>

      <div *ngIf="selectedProject.videoUrl" class="project-video"> 
          <h4>Project Video</h4>
          <iframe [src]="selectedProject.videoUrl | safeUrl" frameborder="0" allowfullscreen></iframe> 
       </div>
  </div>
</section>