.projects-list-container {
  display: grid;
  gap: 20px;
  /* Mobile first: single column by default */
  grid-template-columns: 1fr;

  @media (min-width: 600px) { /* 2 columns on medium screens */
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  @media (min-width: 900px) { /* 3 columns on large screens */
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
}
