<app-header></app-header>

<main>
  <app-home><section id="home" class="section-padding" #section></section></app-home>
  <app-about><section id="about" class="section-padding" #section></section></app-about>
  <app-skills><section id="skills" class="section-padding" #section></section></app-skills>
  <app-projects><section id="projects" class="section-padding" #section></section></app-projects>
  <app-contact><section id="contact" class="section-padding" #section></section></app-contact>
</main>

<app-chat-icon></app-chat-icon>
<div *ngIf="chatService.isChatOpen$ | async" style="position: fixed; bottom: 90px; right: 20px; z-index: 10000;  padding: 10px;">
  <app-chat-window></app-chat-window>
</div>
<app-footer></app-footer>

<button class="scroll-to-top-button" [class.show]="isShowScrollToTop"  (click)="scrollToTop()"> 
   <i class="fas fa-arrow-up"></i>
</button>
