<app-header></app-header>

<main>
  <app-home><section id="home" class="section-padding" #section></section></app-home>
  <app-about><section id="about" class="section-padding" #section></section></app-about>
  <app-skills><section id="skills" class="section-padding" #section></section></app-skills>
  <app-projects><section id="projects" class="section-padding" #section></section></app-projects>
  <app-contact><section id="contact" class="section-padding" #section></section></app-contact>
</main>

<app-footer></app-footer>