@import '../../../styles.scss'; // Import global styles

.chat-toggle-button {
    position: fixed;
    bottom: var(--gap-md); 
    left: var(--gap-lg); 
    z-index: 1001;
    box-shadow: var(--base-shadow);
    border-radius: 40px;
    animation: pulse-zoom-fade 2s ease-in-out infinite alternate;
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 64px; // Default FAB size
    height: 64px;
    box-shadow: var(--hover-shadow); // Add shadow
    transition: transform 0.3s ease;    

    &:hover {
        transform: scale(1.05); // Subtle hover effect
    }
}
img {
    width: 40px; // Adjust icon size
    height: 40px;
}


.chat-icon-container {
    position: fixed; // Make the container float
    bottom: var(--gap-md); // Position from bottom
    right: var(--gap-lg); // Position from right
    z-index: 1001; // Ensure it's above most other content

    display: flex; // Use flexbox for layout
    flex-direction: column; // Stack icon and text vertically
    align-items: center; // Center horizontally
    cursor: pointer; // Indicate it's clickable
    text-align: center; 
}   
.chat-prompt-text {
    font-size: 0.9em; // Adjust text size
    color: var(--text-color); // Adjust text color to be visible
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); // Add subtle text shadow
    animation: pulse-zoom-fade 2s ease-in-out infinite alternate;
    box-shadow: var(--hover-shadow); // Add shadow
    transition: transform 0.3s ease;    
    display: block;

}
@keyframes pulse-zoom-fade {
    0% {
      opacity: 0.6; // Start slightly transparent
      transform: scale(0.9); // Start slightly smaller
    }
    50% {
       opacity: 1; // Fade in
       transform: scale(1); // Zoom to normal size
    }
    100% {
      opacity: 0.6; // Fade out
      transform: scale(0.9); // Zoom out
    }
  }

  /* --- Media Query for Mobile  --- */
 @media (max-width: 600px) { 
    .chat-icon-container {
       right: var(--gap-md);
       bottom: var(--gap-md);

    }
 }