@use '../../../styles.scss' as *; // Import global styles

.chat-toggle-button {
    position: fixed;
    bottom: 20px !important;
    left: 20px !important;
    right: auto !important;
    z-index: 9999 !important;
    box-shadow: var(--base-shadow);
    border-radius: 40px;
    animation: pulse-zoom-fade 2s ease-in-out infinite alternate;
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 64px;
    height: 64px;
    box-shadow: var(--hover-shadow);
    transition: transform 0.3s ease;    
    
    &:hover {
        transform: scale(1.05);
    }
}

.chat-icon {
    width: 40px !important;
    height: 40px !important;
    display: block !important;
}

.chat-icon-container {
    position: fixed !important;
    bottom: 20px !important;
    left: 20px !important;
    right: auto !important;
    z-index: 9999 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    cursor: pointer !important;
    text-align: center !important;
    min-width: 64px !important;
    min-height: 64px !important;
    width: auto !important;
    height: auto !important;
}

.chat-prompt-text {
    font-size: 0.9em; // Adjust text size
    color: var(--text-color); // Adjust text color to be visible
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); // Add subtle text shadow
    animation: pulse-zoom-fade 2s ease-in-out infinite alternate;
    box-shadow: var(--hover-shadow); // Add shadow
    transition: transform 0.3s ease;    
    display: block;

}
@keyframes pulse-zoom-fade {
    0% {
      opacity: 0.6; // Start slightly transparent
      transform: scale(0.9); // Start slightly smaller
    }
    50% {
       opacity: 1; // Fade in
       transform: scale(1); // Zoom to normal size
    }
    100% {
      opacity: 0.6; // Fade out
      transform: scale(0.9); // Zoom out
    }
  }

  /* --- Media Query for Mobile  --- */
 @media (max-width: 600px) { 
    .chat-icon-container {
       right: var(--gap-md);
       bottom: var(--gap-md);

    }
 }